body {
	color: black;
	background-color: #F0F0F0;
	padding: 10%;
	padding-top: 80px;
	padding-bottom: 10px;
}

.title {
	font-size: 22pt;
	font-family: sans-serif;
	padding-bottom: 20px;
}

.footer {
	font-size: 10pt;
	color: #909090;
	padding-top: 20px;
}
