<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }}</title>
		<meta name="author" content="Ben Mendis" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" />
	</head>
	<body>

		<div class="title">
			<a href="/">Barnacle Blog</a> - A lime a day keeps scurvy at bay.
		</div>

		{{ content }}

		<div class="footer">
			<div class="contact">
				<p>
					Ben "The Pyrate" Mendis<br />
					ben.mendis [at] gmail
				</p>
			</div>
			<div class="contact">
				<p>
					<a href="http://sitwon.github.io/Resume_-_Ben_Mendis_DS.pdf">Resume</a>
					<a href="http://sitwon.github.io/C1D89F01.pub">OpenPGP Key</a>
					<a href="http://sitwon.github.io/vcard.vcf">vCard</a>
				</p>
			</div>
		</div>

		<a href="http://github.com/sitwon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
